html
{
    font-family: 'Roboto', sans-serif;
    display: block;
    max-width: 1400px;
    margin: auto;
}

/*-- Header --*/ 

nav
{
    width: 100%;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

nav img
{

}

/*-- Section One --*/

#section_one
{
    display: block;
    width: 100%;
    height: 400px;
    background-color: #F1F1F1;
    text-align: center;
}

#section_one h2
{
    margin-top: 40px;
}

#section_one p
{
    margin-top: 20px;
}

.localisation
{
    display: flex;
    background-color: #E1E1E1;
    box-shadow: 0px -2px 1px 0px #CDCDCD;
}

.localisation i
{
    margin: 20px 20px 20px 615px;
}

.localisation p
{
    margin: 20px 0px 20px 0px;
}

/*-- BTN --*/

.btn
{
    width: 300px;
    height: 40px;
    padding: 20px 10px 10px 10px;
    border: 1px transparent;
    border-radius: 40px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
    text-align: center;
    font-size: 1.4em;
    box-shadow: 1px 1px 10px grey;
    margin-left: 530px;
    margin-top: 60px;
}

#section_one a
{
    text-decoration: none;
}

.btn:hover
{
    background: rgba(black, 0.2);
    box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.85);
}

/*-- Section Two --*/

#section_two h2
{
    margin-left: 40px;
    margin-top: 40px;
}

ul
{
    list-style-type: none;
}

li
{
    display: flex;
}



.list p
{
    margin-top: 12px;
}

.list_p
{
    display: flex;
    border-radius: 20px;
    width: 500px;
    height: 100px;
    font-size: 1.4em;
    text-align: center;
    margin-left: -20px;
    margin-top: 20px;
    background: #F1F1F1;
    box-shadow: 8px 8px 10px lightgrey;
}

.list
{
    z-index: 1;
    border: 1px solid;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    background: #9356DC;
    color: white;
    margin-top: 50px;
    margin-bottom: 80px;
}

.list_p i
{
    margin: 40px 40px 20px 50px;
}

.list_p p
{
    margin-top: 38px;
}

.fa-store
{
    color: #9356DC;
}

/*-- Section Three --*/

#section_three
{
    display: flex;
    width: 100%;
    background: #F1F1F1;
}

#section_three h2
{
    margin-left: 40px;
    margin-top: 40px;
}

.photo img
{
    height: 100%;
    width: 500px;
    max-height: 300px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.photo
{  
    position: relative;
    width: 500px;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #999;
    margin-bottom: 50px;
}

.photo_duo1
{
    margin-right: 100px;
    margin-top: 100px;
}

.photo_duo2
{
    margin-top: 100px;
}

.photo a
{
    text-decoration: none;
    color: black;
}

.new
{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #99E2D0;
    padding: 10px;
    color: darkgreen;
}

.description
{
    display: flex;
}

.descri
{
    margin-left: 20px;
}

.descri p
{
    margin-top: -10px;
}

.fa-heart
{
    margin-top: 30px;
    font-size: 30px;
    margin-left: 250px;
}

.fa-heart::before
{
    content: "\f004";
    transition: color .5s ease-out;
}


.fa-heart:hover::before
{
    font-weight: bold;
    color: #9356DC;
}

.descri_heart3
{
    margin-left: 40px;
}

/*-- Footer --*/

#footer
{
    background: #313333;
    margin-top: -18px;
    padding-top: 1px;
    padding-left: 40px;
}

#footer a
{
    text-decoration: none;
    color: white;
    margin-left: -40px;
    padding-bottom: 10px;
}

#footer ul
{
    padding-bottom: 20px;
}

#footer h3
{
    font-size: 1.4em;
    font-family: 'Shrikhand', sans-serif;
    color: #fff;
}

.fa-utensils
{
    color: white;
    margin-left: -40px;
}

.fa-hands-helping
{
    color: white;
    margin-left: -40px;
    font-size: 0.8em;
    margin-top: 4px;
}

.footer_p1
{
    margin-left: 56px;
    padding-bottom: 10px;
}

.footer_p2
{
    margin-left: 54px;
    padding-bottom: 10px;
}